*{
	box-sizing: border-box;	
	transition: background 0.3s;
	outline: 0;
}
body{
	background: #00334b;
	color:#FFFFFF;
}
.mask
{
	display: none;
	position: absolute;
	width: 100%;
	background-color: #000;
	opacity: 0.3;
}
.container{
	max-width:900px;
	margin: 0 auto;
	position: relative;
}
h1
{
	text-align: center;
}
input,
.task-item,
textarea,
button
{
	border-radius: 3px;
	padding: 10px;
}
textarea{
	min-height: 100px;
	width: 100%;
	height: 80px;
	bottom: 0;
}
input[type=text],input[type=date]
{
	border: 0;
	display: block;
	width: 100%;
	background: #ddd;
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
input#ipt1:hover
{
	background: #FFF;
	box-shadow: 0 2px 2px rgba(0,0,0,.1);
}
button
{
	color: #333;
	display: inline-block;
	cursor: pointer;
	border: 0;
}
.add-task input[type=text]
{
	float: left;
	width: 88%;
	margin-right: 1%;
}
#btn1
{
	background: #46B1E4;
	width: 98px;
}
#btn1:hover
{
	background: #75B7E6;
}
#btn2
{
	display: none;
	position: relative;
	left: 801px;
	background: #FF3939;
	width: 98px;
}
#btn2:hover
{
	background: #F98181;
}
.btn3
{
	background: #46B1E4;
	width: 80px;
}
.btn3:hover
{
	background: #75B7E6;
}
.task-list
{
	margin: 10px 0px;
}
.add-task[type=submit],.task-item
{
	box-shadow:0px 2px 10px rgba(0,0,0,0.5); 
}
.task-item
{
	position: relative;
	background: #FFFFFF;
	color: #000000;
	margin-bottom: 2px;
	box-shadow:0px 2px 10px rgba(0,0,0,0.5);
	cursor: pointer;
	transition: background 0.3s;
}
.task-item:hover
{
	background: #ddd;
}
.task-item-del
{
	background: #ddd;
}
.task-detail
{
	color: #007CCC;
	position: absolute;
	left: 830px;
	transition: font-weight 0.2s;
}
.task-detail:hover
{
	font-weight: bold;
}
.detail
{
	display: none;
	position: absolute;
	left: 700px;
	top: -100px;
	width: 400px;
	height: 430px;
	color: black;
	background-color: #fff;
	border-radius: 5px;
	padding: 12px;
	box-shadow: 4px 4px 5px rgba(0,0,0,0.4);
	z-index: 1;
}
input.content,
textarea.desc,
input.time
{
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
	background-color: #ddd;
	margin-bottom: 15px;
}

textarea.desc{
	border: 0;
	height: 130px;
	padding: 10px;
}
.updatetime{
	font-family: Microsoft YaHei;
	font-size: 10px;
	color: #ddd;
	position: absolute;
	left: -50px;
	width: 0;
	height: 0;
	border: 1px solid red;
}